body {
	background: #333;
	color: #fff;
}

.navbar {
	border-bottom: #008ed6 3px solid;
	opacity: 0.8;
}

#about-section {
	background: url(../images/me.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 40rem;
}


#about-section .dark-overlay {
	position: absolute;
	width: 100%;
	min-height: 40rem;
	background: rgba(0,0,0,0.7);
}

#about-section .about-inner {
	padding-top: 5rem;
}

#about-section .card-form {
	opacity: 0.8;
}

#about-section .fas, #posts-section .fas {
	padding: 5px;
	color: #008ed6;
	background: #fff;
	border-radius: 5px;
}

#portfolio-section .fas, #share-section .fas {
	background: #333;
	color: #fff;
	padding: 5px;
	border-radius: 5px
}
